= form_tag '/call', :remote => true do
  = text_field_tag :number, nil, :autofocus => true, :placeholder => 'Your Phone Number'
  = text_field_tag :name, nil, :autofocus => true, :placeholder => 'Name'
  = submit_tag 'Hear the Voice of God', :class => 'button tiny radius success'