#Video.reveal-modal
  %h1 Video Modal
  %p RYAN GOSLING VIDEO!!!
  / = form_for @audi, :remote => true do |f|
  /   = f.label 'Your Name'
  /   = f.text_field :name, :autofocus => true
  /   = f.label :number
  /   = f.text_field :number
  /   / = link_to('Cancel', '#', :'data-clear-form' => true, :class =9> 'button small radius alert form_button', :id => "cancel_create")
  /   = f.submit 'Call Me', :class => 'button small radius info form_button'
  / %a.close-reveal-modal ×

  / %h4= @video.name
  #videoframe
    = render :partial => "frame"
  =link_to('Next Video', '/refresh', :remote => true, :class => 'button radius small info')
  %a.close-reveal-modal ×
#Hotline.reveal-modal
  %h1 Hotline Modal
  = render :partial => 'hotline'
  %a.close-reveal-modal ×
#HeyGirl.reveal-modal
  %h1 Hey Girl Modal
  %p RYAN GOSLING TEXT!!!
  = render :partial => 'textual'
  %a.close-reveal-modal ×