#Video.reveal-modal
  #videoframe
    = render :partial => "frame"
  =link_to('Next Video', '/refresh', :remote => true, :class => 'button radius small info')
  %a.close-reveal-modal ×
#Hotline.reveal-modal
  %h1 His Voice
  .voice
  = render :partial => 'hotline'
  %a.close-reveal-modal ×
#HeyGirl.reveal-modal
  .text
  = render :partial => 'textual'
  %a.close-reveal-modal ×