#Video.reveal-modal
  #videoframe
    = render :partial => "frame"
  =link_to('Next Video', '/refresh', :remote => true, :class => 'button radius small info')
  %a.close-reveal-modal ×
#Hotline.reveal-modal
  %h1 His Voice
  .voice
  = render :partial => 'hotline'
  %a.close-reveal-modal ×
#HeyGirl.reveal-modal
  .text
  = render :partial => 'textual'
  %a.close-reveal-modal ×

%a.second{:href => "#reveal-modal"} Link text
#modal{:style => "display:none"}
  %h2 Modal
  %a{:href => "javascript:$.pageslide.close()"} Close
:javascript
  $(".second").pageslide({ direction: "left", modal: true });

:javascript
  $(window).load(function() {
      $.backstretch(big_images, {duration: 4000, fade: 1000});
  });

#articlefeed
  = render :partial => 'feed'