#Video.reveal-modal
  %h1 Video Modal
  %p RYAN GOSLING VIDEO!!!
  %a.close-reveal-modal ×
#Hotline.reveal-modal
  %h1 Hotline Modal
  %p RYAN GOSLING HOTLINE!!!!!
  %a.close-reveal-modal ×
#HeyGirl.reveal-modal
  %h1 Hey Girl Modal
  %p RYAN GOSLING TEXT!!!
  %a.close-reveal-modal ×