#front
  %h2 The Gos
  %h5 Simply click above to..
  %ul
    %li Hear his words
    %li Read his mind
    %li Admire his craft
#Video.reveal-modal.vidcontainer
  #videoframe
    = render :partial => "frame"
    %br
  =link_to('Next Video', '/refresh', :remote => true, :class => 'button_nav_show', :id => 'vidbutton')
  %a.close-reveal-modal ×
#Hotline.reveal-modal
  %h3.txt His Voice..
  .voice
  = render :partial => 'hotline'
  %a.close-reveal-modal ×
#HeyGirl.reveal-modal
  .text
  = render :partial => 'textual'
  %a.close-reveal-modal ×

%a.second{:href => "#reveal-modal"}
#modal{:style => "display:none"}
  %h2 Modal
  %a{:href => "javascript:$.pageslide.close()"} Close
:javascript
  $(".second").pageslide({ direction: "left", modal: true });

:javascript
  $(window).load(function() {
      $.backstretch(big_images, {duration: 4000, fade: 1000});
  });

#articlefeed

