
<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="small-4 columns small-offset-8">
        <div id="reg_form"></div>
      </div>
    </div>

    <%= yield %>

  </div>
</div>
