<div class="row">
  <div class="large-2 columns">
    .
  </div>
  <div class="large-2 columns">
    <ul class="button-group">

      <li><%= link_to('Video', '#', "data-reveal-id" => 'Video', :class => 'button tiny') %></li>
    </ul>
  </div>
   <div class="large-2 columns">
    <ul class="button-group">
      <li><%= link_to('Hotline', '#', "data-reveal-id" => 'Hotline', :class => 'button tiny') %></li>
    </ul>
  </div>
  <div class="large-2 columns">
    <ul class= "button-group">
      <li><%= link_to('Hey Girl', '#', "data-reveal-id" => 'HeyGirl', :class => 'button tiny') %></li>
    </ul>
  </div>
  <div class="large-2 columns">
    <ul class= "button-group">
      <li><%= link_to('Gosling Feed', '#', :class => 'button tiny') %></li>
    </ul>
  </div>
  <div class="large-2 columns">
  </div>
</div>