<nav class= "top-bar">
  <ul class= "title-area">
<li class="name">
      <h1 class = "title">
        GOS'
      </h1>
    </li>
</ul>


  <section class="top-bar-section">
    <ul class="center">
      <div class= "row">


        <div class = "large-3 columns">
         <li><%= link_to('Video', '#', "data-reveal-id" => 'Video') %></li>
       </div>

       <div class = "large-3 columns">
      <li><%= link_to('Hotline', '#', "data-reveal-id" => 'Hotline') %></li>
        </div>

      <div class = "large-3 columns">
      <li><%= link_to('Hey Girl', '#', "data-reveal-id" => 'HeyGirl') %></li>
    </div>

      <div class = "large-2 columns">
      <li><%= link_to('Gosling Feed', '#', :id => 'newsbutton') %></li>
      </div>
    </div>
    </ul>
    </section>
</nav>


